<div class="add-formation">
  <form [formGroup]="formationForm" (ngSubmit)="regiterFormation()">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-10">
          <input
            type="text"
            class="add-formation__type"
            placeholder="Nível da gradução"
            formControlName="type"
          />
        </div>
        <div class="col-lg-2" (click)="removeFormation()">
          <button class="action action--delete action--full">
            <i class="fas fa-times-circle action__icon"></i>
          </button>
        </div>
      </div>
      <input
        type="text"
        class="add-formation__institution"
        placeholder="Universidade"
        formControlName="institutionName"
      />
    </div>

    <div class="add-formation__content">
      <div class="group">
        <textarea
          placeholder="Descrição"
          class="group__text-box"
          name=""
          id=""
          cols="60"
          rows="3"
          formControlName="title"
        ></textarea>
      </div>

      <div class="group">
        <p class="group__label">Grade:</p>
        <input
          type="text"
          class="group__input"
          placeholder="Grade"
          formControlName="grade"
        />
      </div>

      <!-- <div class="group">
      <p class="group__label">Setores de atividade:</p>
      <textarea
        placeholder="Setores de atividade"
        class="group__text-box"
        name=""
        id=""
        cols="60"
        rows="3"
      ></textarea>
    </div> -->

      <div class="group">
        <p class="group__label">Orientador:</p>
        <input
          type="text"
          class="group__input"
          placeholder="Orientador"
          formControlName="advisor"
        />
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="showSaveButton">
      <div class="col-lg-4">
        <button class="btn">Salvar</button>
      </div>
    </div>
  </form>
</div>
