<div class="container-fluid p-0">
  <section class="p-3 mt-lg-5 mb-lg-5 d-flex align-items-center">
    <div>
      <h2 class="text-primary mb-2">Clarence Taylor</h2>
      <p class="lead mb-5 ml-4">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.</p>
    </div>
  </section>
  
  <section class="pl-3 pr-3 d-flex align-items-center">
    <div>
      <h3 class="text-primary mb-2">Formação</h3>
      <p class="lead mb-5 ml-2 mr-2">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.</p>
    </div>
    <div>
        <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/12/150354/original/livros.jpg" class="img-fluid" alt="">
    </div>
  </section>

  <section class="pl-3 pr-3 mb-5 d-flex align-items-center">
    <div>
      <h3 class="text-primary mb-2">Livos Publicados</h3>
      <p class="lead mb-5 ml-2 mr-2">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.I am experienced in leveraging agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value
        proposition.</p>
      <div class="row">
          <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/12/150354/original/livros.jpg" class="img-fluid col col-lg-4" alt="">
          <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/12/150354/original/livros.jpg" class="img-fluid col col-lg-4" alt="">
          <img src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/12/150354/original/livros.jpg" class="img-fluid col col-lg-4" alt="">
      </div>
    </div>
  </section>
</div>
