.descricao {
  flex-flow: row wrap;
  border-left: solid #f45622 3px;
  /* background-color: #e9ecef; */
  color: #495057;
  padding: 0px 10px;
}
.text-center {
  font-weight: 600;
  font-size: 1.2em;
  color: #f45622;
}
strong {
  color: #f45622;
  font-weight: 500;
}
.subLinhas {
  font-style: italic;
  color: #007bff;
}
.flexAcerto {
  flex-flow: row wrap;
}
.curriculo {
  padding-bottom: 1.5rem !important;
}
.curriculo a {
  color: white !important;
  border-radius: 5px;
  background-color: rgb(0, 0, 129);
}
.curriculo a:hover {
  color: white !important;
}
.orcid a {
  background-color: #a6ce39;
}
.google a {
  background-color: #4d90fe;
}
.academia a {
  background-color: black;
}

.description {
  font-size: 1.15rem;
  font-weight: 400;
  white-space: break-spaces;
}
