<div class="container-fluid p-0">
    <div class="row">
    <section class="p-3 pt-lg-5 align-items-center">
        <div class="col-sm-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/clarence.jpeg" alt="Avatar" class="img-fluid">
                    </div>
                    <div class="flip-card-back">
                        <h1>John Doe</h1>
                        <p>Architect & Engineer</p>
                        <p>We love that guy</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</div>