::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #000;
  text-align: center;
  border-radius: 10px;
}
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}
.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}
.grid figure h2 span {
  font-weight: 800;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: solid #f45622 3px;
  border-radius: 10px;
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
figure.effect-sadie figcaption::before,
figure.effect-sadie div {
  color: black;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover div {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.conteudo-hover .titulo {
  margin: 15px 0px !important;
  font-size: 18px !important;
  font-weight: 700;
}
.conteudo-hover .descricao {
  border-left: solid #f45622 2px;
  font-size: 11px !important;
  color: #495057 !important;
  padding: 0px 10px !important;
  overflow-y: scroll !important;
  margin: 10px 0px !important;
  height: 70%;
}
.conteudo-hover a {
  margin-top: 20px !important;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #f45622;
}
.conteudo-hover a:hover {
  color: white;
  background-color: #f45622;
}
