<div class="container-fluid p-0">
  <section class="p-3 pt-lg-5 align-items-center">
    <div class="row ml-lg-4">
      <div class="col-sm-12 pb-5" *ngFor="let projeto of projPes">
        <h5>
          {{ projeto.periodo }} - <strong>{{ projeto.titulo }}</strong>
        </h5>
        <h6>
          Linha de Pesquisa -
          <span class="subLinhas">{{ projeto.linhaPesquisa }}</span>
        </h6>
        <p class="descricao pt-1 pb-1">{{ projeto.resumo }}</p>
        <div *ngIf="projeto.objGeral[0] != null">
          <h6>Objetivos Gerais</h6>
          <ul class="descricao">
            <li class="obj mb-2 mt-2" *ngFor="let objGeral of projeto.objGeral">
              {{ objGeral.obj }}
            </li>
          </ul>
        </div>
        <div *ngIf="projeto.objEspecifico[0] != null">
          <h6>Objetivos Especificos</h6>
          <ul class="descricao">
            <li
              class="obj mb-2 mt-2"
              *ngFor="let objEspecifico of projeto.objEspecifico"
            >
              {{ objEspecifico.obj }}
            </li>
          </ul>
        </div>
        <p>
          <span class="strong">Grupo de Pesquisa - </span
          ><span class="subLinhas mr-2">{{ projeto.grupoPesquisa }}</span>
          <span class="strong">Financiamento - </span
          ><span class="subLinhas">{{ projeto.financiamento }}</span>
        </p>
        <div class="d-flex flexAcerto">
          <div><h6 class="pt-1 pb-1 mt-1 mb-1">Palavras Chaves -</h6></div>
          <div
            *ngFor="let chave of projeto.palavraChave"
            class="palavraChave p-1 m-1"
          >
            {{ chave.palavra }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
