<form [formGroup]="bookForm" (ngSubmit)="addBook()" class="book">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-4">
      <img [src]="bookImage" class="book__image" alt="" />
    </div>
    <div class="col-lg-8 align-self-center">
      <div class="row mb-2">
        <div [ngClass]="{ 'col-lg-12': !book, 'col-lg-10': book }">
          <input
            type="text"
            class="book__input-text"
            placeholder="Título"
            formControlName="title"
          />
        </div>
        <div class="col-lg-2" *ngIf="book">
          <button
            type="button"
            class="action action--delete action--full"
            (click)="deleteBook()"
          >
            <i class="fas fa-times-circle action__icon"></i>
          </button>
        </div>
      </div>

      <input
        type="text"
        class="book__input-text"
        placeholder="Autor(es)"
        formControlName="authors"
      />

      <div class="row mb-2">
        <div class="col-lg-6">
          <input
            type="text"
            class="book__input-text"
            placeholder="Editora"
            formControlName="publishingCompany"
          />
        </div>
        <div class="col-lg-6">
          <select class="book__select" formControlName="type">
            <option [selected]="!bookForm.get('type').value"
              >Selecione a categoria</option
            >
            <option *ngFor="let type of bookTypes" [value]="type.id">{{
              type.label
            }}</option>
          </select>
        </div>
      </div>

      <input
        type="text"
        class="book__input-text"
        placeholder="Link da loja"
        formControlName="linkOfStore"
      />

      <input
        type="text"
        class="book__input-text"
        placeholder="Link do livro"
        formControlName="linkOfBook"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label for="" class="book__label">PDF</label>
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          data-max-size="2048"
          id="customPreReadFile"
          (change)="setFileBook($event.target.files)"
          #fileInput
        />
        <label
          class="custom-file-label"
          for="customPreReadFile"
          [innerHtml]="msgBook"
        ></label>
      </div>
    </div>
    <div class="col-lg-6">
      <label for="" class="book__label">Capa do livro</label>
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          data-max-size="2048"
          id="customPreReadFile2"
          (change)="setFileCapa($event.target.files)"
          #fileInput2
        />
        <label
          class="custom-file-label"
          for="customPreReadFile2"
          [innerHtml]="msgCapa"
        ></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="book__content">
        <textarea
          class="book__text-box"
          placeholder="Descrição"
          name=""
          id=""
          cols="30"
          rows="6"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>
  <div
    class="row align-items-center justify-content-center mt-3"
    *ngIf="showSaveButton"
  >
    <div class="col-lg-2" *ngIf="!book">
      <a class="close" (click)="cancelBook()">Cancelar</a>
    </div>
    <div class="col-lg-2">
      <button class="btn btn--full" type="submit">Salvar</button>
    </div>
  </div>
</form>
