<div class="container-fluid p-0">
  <section class="p-3 pt-lg-5 align-items-center">
    <!-- https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fanped.educacao%2Fvideos%2F548400622526798%2F&show_text=0&width=560 -->
    <!-- <ng-container *ngFor="let item of media">
      <div *ngIf="item.type === '1'">
        <h3 class="mb-3 text-primary">{{ item.title }}</h3>
        <div class="row mb-5 ml-lg-4 no-gutters">
          <div class="col-12 col-md-6">
            <div class="iframe-container">
              <iframe
                [src]="safeLink(item.link)"
                width="560"
                height="315"
                style="border: none; overflow: hidden;"
                scrolling="no"
                frameborder="0"
                allowTransparency="true"
                allowFullScreen="true"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </ng-container> -->

    <!-- <h3 class="mb-3 text-primary">
      Educação em roda de conversas: fazeres e reconfigurações no contexto atual
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/TFIAkTxnwos"></iframe>
        </div>
      </div>
    </div> -->

    <!-- <h3 class="mb-3 text-primary">Conversa com Professor Sérgio Santos</h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/0EuCjLMTw1k"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Conversa com a professora mestra Sara York: “Cibercultura e Educação”
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/y5YhUW5CQdI"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Encontros formativos do grupo de pesquisa DIFEBA/UNEB. Mediação da
      professora doutora Ana Lúcia Gomes (UNEB)
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe
            src="https://www.youtube.com/embed/videoseries?list=PLiXEBKuR7MNbVqIiIuAtl4Uy2LDSYurym"
          ></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Abertura e primeira mesa do Fórum Nacional de Pró-Reitores de Graduação
      (ForGRAD) – Utilização de tecnologias digitais para a educação superior:
      os desafios da inclusão e das metodologias de aprendizagem. Mediação:
      Professor Wander Pereira (UnB)
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="http://www.youtube.com/embed/ZL8h7hH_FAo"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Congresso virtual da UFBA 2020. Formação de professores, educação online e
      inclusão digital. Mesa com Roberto Sidney Macêdo e Nelson Pretto.
      Mediação: professora doutora Alessandra Assis
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/UD0KrPkHBiY"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Lives do Centro Acadêmico do Curso de Pedagogia da Universidade Federal
      Rural do Rio de Janeiro (UFRRJ sobre Educação a Distância e Pandemia.
      Mediação: Marcos Pinheiro
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.instagram.com/p/CAgdP-Bj_X0/embed"></iframe>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.instagram.com/p/CAgjLOijpbz/embed"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Curso de Formação para professores da Universidade Estadual de Feira de
      Santana (UEFS). Educação online: um caminho possível? Mediação: professora
      doutora Luciene Santos
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/8qwsCz2Ikos"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Educação em tempos de pandemia: diálogos e conexões. Debate ao vivo com a
      Rede Unida. Mediação: Professora doutora Paula Cerqueira
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/J_iQAmRQVm4"></iframe>
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Lançamento do livro “O livro na cibercultura”, com palestra proferida pelo
      professor doutor Eugênio Trivinho (PUC-SP) sob o título “O livro e seus
      demônios: cultura digital, capitalismo cognitivo e neofascismo”. Mediação:
      Edméa Santos (UFRRJ) e Cristiane Porto (UNIT)
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="">
          <a
            target="blank"
            href="https://meet.google.com/dtg-abau-gqk?pli=1&authuser=1"
            >https://meet.google.com/dtg-abau-gqk?pli=1&authuser=1</a
          >
        </div>
      </div>
    </div>

    <h3 class="mb-3 text-primary">
      Lives aprendizagens. Conversa com os educadores Edméa Santos (UFRRJ) e
      Marco Silva (UERJ). Mediação: Professor doutor Antônio Carlos Xavier
      (UFPE)
    </h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <div class="col-12 col-md-6">
        <div class="iframe-container">
          <iframe src="https://www.youtube.com/embed/ZLbBFrZ8cvM"></iframe>
        </div>
      </div>
    </div>-->

    <h3 class="mb-3 text-primary">Filmes de Pesquisa</h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <ng-container *ngFor="let item of media">
        <div class="col-12 col-md-6" *ngIf="item.type === '3'">
          <div class="iframe-container">
            <iframe [src]="safeLink(item.link)"></iframe>
          </div>
        </div>
      </ng-container>
    </div>

    <h3 class="mb-3 text-primary">Série salto para Futuro</h3>
    <div class="row mb-5 ml-lg-4 no-gutters">
      <ng-container *ngFor="let item of media">
        <div class="col-12 col-md-6" *ngIf="item.type === '5'">
          <div class="iframe-container">
            <iframe [src]="safeLink(item.link)"></iframe>
          </div>
        </div>
      </ng-container>
    </div>

    <h3 class="mb-3 text-primary">Video Aulas e PALESTRAs</h3>
    <div class="row mb-5 ml-lg-4">
      <ng-container *ngFor="let item of media">
        <div class="col-12 col-md-6" *ngIf="item.type === '6'">
          <h5 class="mt-4 mb-0 text-center">{{ item.title }}</h5>
          <div class="iframe-container">
            <iframe [src]="safeLink(item.link)"></iframe>
          </div>
        </div>
      </ng-container>
    </div>

    <h3 class="mb-3 text-primary">Entrevistas</h3>
    <div class="row mb-5 ml-lg-4">
      <ng-container *ngFor="let item of media">
        <div class="col-12 col-md-4 d-flex entCont" *ngIf="item.type === '1'">
          <img
            class="img-fluid capa-livro"
            (click)="openModal(template, item)"
            [src]="getLink(item.image)"
          />
        </div>
      </ng-container>
    </div>

    <h3 class="text-primary mb-3">PODCASTS:</h3>
    <div class="row mb-5">
      <ng-container *ngFor="let item of media">
        <div class="col-md-4" *ngIf="item.type === '4'">
          <a class="completo" [href]="item.link" target="_blank"
            ><i class="fas fa-headphones"></i> {{ item.title }}</a
          >
        </div>
      </ng-container>
    </div>

    <h3 class="text-primary mb-3">APRESENTAÇÕES:</h3>
    <ng-container *ngFor="let item of media">
      <div class="row mb-3" *ngIf="item.type === '2'">
        <div class="col-md-12">
          <h4 class="mb-2 text-primary">{{ item.title }}</h4>
          <a [href]="item.link" target="_blank">
            <button class="btn btn-primary">
              Acessar
            </button>
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ livroSelecionado.title }}</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flexAcerto">
          <div *ngIf="livroSelecionado.link" class="mr-3 mb-4">
            <a class="completo" [href]="livroSelecionado.link" target="_blank"
              ><i class="fa fa-file"></i> Link para a entrevista na integra</a
            >
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</div>
