.formation {
  .btn {
    border-radius: 4px;
    background-color: #057bfe;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    height: 30px;
  }

  &__title {
    margin: 0px;
  }
}

.flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
