<form [formGroup]="dissertationForm" class="dissertation">
  <div class="row align-items-center">
    <div class="col-md-2 col-lg-2">
      <input
        type="text"
        class="dissertation__input-text"
        placeholder="Data"
        formControlName="date"
      />
    </div>
    <div
      [ngClass]="{
        'col-md-9 col-lg-9': dissertation,
        'col-md-10 col-lg-10': !dissertation
      }"
    >
      <input
        type="text"
        class="dissertation__input-text"
        placeholder="Título"
        formControlName="title"
      />
    </div>
    <div class="col-md-1 col-lg-1" *ngIf="dissertation">
      <button
        class="action action--delete action--full"
        (click)="deleteDissertation()"
      >
        <i class="fas fa-times-circle action__icon"></i>
      </button>
    </div>
  </div>
  <div class="row align-items-center mt-3">
    <div class="col-md-2 col-lg-2">
      <p class="dissertation__label">AUTOR(A)</p>
    </div>
    <div class="col-md-6 col-lg-6">
      <input
        type="text"
        class="dissertation__input-text"
        placeholder="Autor"
        formControlName="author"
      />
    </div>
    <div class="col-md-4 col-lg-4">
      <select class="dissertation__select" formControlName="category">
        <option [selected]="!dissertationForm.get('category').value"
          >Selecione a categoria</option
        >
        <option *ngFor="let item of dissertationlevels" [value]="item.id">{{
          item.label
        }}</option>
      </select>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-12 col-lg-12">
      <div class="dissertation__content">
        <textarea
          name=""
          class="dissertation__text-box"
          placeholder="Descrição"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row align-items-center mt-3">
    <div class="col-md-4 col-lg-4">
      <select
        class="dissertation__select"
        [(ngModel)]="uploadType"
        [ngModelOptions]="{ standalone: true }"
      >
        <option
          *ngFor="let item of uploadOptions"
          [value]="item.id"
          [selected]="uploadType === item.id"
          >{{ item.label }}</option
        >
      </select>
    </div>
    <div class="col-md-8 col-lg-8">
      <div [ngSwitch]="uploadType">
        <div *ngSwitchCase="2">
          <div class="row align-items-center">
            <div
              [ngClass]="{ 'col-lg-12': !linkArchive, 'col-lg-9': linkArchive }"
            >
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  data-max-size="2048"
                  id="customPreReadFile"
                  (change)="setFileName($event.target.files)"
                  #fileInput
                />
                <label
                  class="custom-file-label"
                  for="customPreReadFile"
                  [innerHtml]="msgPdf"
                ></label>
              </div>
            </div>
            <div class="col-md-3 col-lg-3" *ngIf="linkArchive">
              <a class="link-download" [href]="getLink()" target="_blank"
                >Download</a
              >
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>
          <input
            type="text"
            class="dissertation__input-text"
            [placeholder]="typeField"
            formControlName="link"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="row align-items-center justify-content-center mt-3"
    *ngIf="showSaveButton"
  >
    <div class="col-md-2 col-lg-2" *ngIf="!dissertation">
      <a class="close" (click)="cancelDissertation()">Cancelar</a>
    </div>
    <div class="col-md-2 col-lg-2">
      <button class="btn btn--full" (click)="addDissertation()">Salvar</button>
    </div>
  </div>
</form>
