<div class="container">
  <section class="media-screen">
    <div class="row align-items-center mb-2">
      <div class="col-sm-12 col-lg-12">
        <h3 class="media-screen__title">Mídias</h3>
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-3 mb-3">
      <div class="col-sm-8 col-lg-8">
        <app-add-transmition
          type="mídia"
          [formFields]="formFields"
          (saveTransmition)="addMedia($event)"
        ></app-add-transmition>
      </div>
    </div>

    <app-list-transmitions
      type="midia"
      title="Mídias cadastradas"
      [transmitions]="media"
      (deleteTransmition)="deleteMedia($event)"
    ></app-list-transmitions>
  </section>
</div>
