<div class="container-fluid p-0">
  <section class="p-3 pt-lg-5 align-items-center">
    <div *ngFor="let live of pageOfItems">
      <h3 class="mb-3 text-primary">{{ live.nome }}</h3>
      <div class="row mb-5 ml-lg-4 no-gutters">
        <div class="col-12 col-md-6">
          <div *ngIf="live.link">
            <div *ngIf="live.showVideo" class="iframe-container">
              <iframe
                [src]="live.linkSafe"
                width="560"
                height="315"
                style="border: none; overflow: hidden;"
                scrolling="no"
                frameborder="0"
                allowTransparency="true"
                allowFullScreen="true"
                allowfullscreen
              ></iframe>
            </div>

            <div *ngIf="!live.showVideo">
              <div *ngIf="live.link">
                <a href="{{ live.link }}" target="_blank">
                  <button class="btn btn-primary">
                    Acessar
                  </button>
                </a>
              </div>
              <div *ngIf="!live.link">
                <button (click)="openModal(1)" class="btn btn-primary">
                  Acessar
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="!live.link && live.openModal">
            <button (click)="openModal(1)" class="btn btn-primary">
              Acessar
            </button>
          </div>

          <div *ngIf="!live.link && !live.openModal">
            Evento fechado
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <jw-pagination
        [items]="lives"
        (changePage)="onChangePage($event)"
      ></jw-pagination>
    </div>
  </section>
</div>
