<div class="container-fluid p-0">
  <section class="p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <span class="d-lg-none d-md-none">
        <img
          class="img-fluid rounded-circle mb-2 capa-livro"
          src="../assets/clarence.jpeg"
        />
      </span>

      <select id="cboMenu">
        <option value=""></option>
        <option value="">About</option>
        <option value="sa">Projeto</option>
        <option value="sbc">Orientação</option>
        <option value="sbc">Sites</option>
        <option value="sbc">Acervo</option>
        <option value="sbc">Mídia</option>
        <option value="sbc">Artigo</option>
      </select>

      <select>
        <option *ngFor="let i of cboMenu">
          {{ i.nome }}
        </option>
      </select>
    </div>
  </section>
</div>
