<div class="container">
  <section class="guidelines mt-4">
    <div class="row align-items-center mb-2">
      <div class="col-sm-10 col-lg-10">
        <h3 class="guidelines__title">ORIENTAÇÕES CONCLUÍDAS</h3>
      </div>
      <div class="col-md-2 col-lg-2 text-right">
        <button class="btn" (click)="newDissertation = true">
          Adicionar +
        </button>
      </div>
    </div>

    <ng-container *ngIf="newDissertation">
      <app-dissertation
        class="card mb-4"
        (saveDissertation)="addDissertation($event)"
        (cancelCreation)="newDissertation = false"
      >
      </app-dissertation>
    </ng-container>

    <ng-container *ngFor="let dissertation of dissertations">
      <app-dissertation
        class="card mb-4"
        [dissertation]="dissertation"
        (saveDissertation)="addDissertation($event)"
        (removeDissertation)="deleteDissertation($event)"
      >
      </app-dissertation>
    </ng-container>

    <p
      *ngIf="
        (!dissertations || dissertations.length < 1) &&
        !newDissertation &&
        !loading
      "
      class="error mt-5"
    >
      Não há dissertações/teses cadastradas!
    </p>
  </section>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
