<div class="container-fluid p-0">
  <section class="p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <span class="d-lg-none d-md-none">
        <img class="img-fluid rounded-circle mb-2 capa-livro" src="../assets/clarence.jpeg" />
      </span>
      <h1 class="mb-3 mt-lg-5 d-none d-lg-block">
        Edméa
        <span class="text-primary">Santos</span>
      </h1>

      <h2 class="mb-0 d-lg-none d-md-none text-center">
        Edméa
        <span class="text-primary">Santos</span>
      </h2>

      <div class="subheading mb-5">
        Professora Titular-Livre da Universidade Federal Rural do Rio de Janeiro
        (UFRRJ).<br />
        <a class="email" href="mailto:edmeabaiana@gmail.com">
          edmeabaiana@gmail.com</a>
      </div>

      <div class="social-icons">
        <a class="mb-3" title="Docência Online" href="https://www.docenciaonline.pro.br" target="_blank">
          <i class="fa fa-graduation-cap"></i>
        </a>
        <a class="mb-3" href="https://www.instagram.com/measantos/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="mb-3" href="https://twitter.com/edmeabaiana" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="mb-3" href="https://www.facebook.com/edmea.santos" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="mb-3" href="https://www.youtube.com/channel/UCJAKi4458pPaIndUKU6zhuw" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
        <a class="mb-3" href="https://wa.me/55021996212804" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </section>
</div>