<div class="transmition">
  <p class="transmition__subtitle">Cadastrar {{ type }}</p>
  <form [formGroup]="transmitionForm" (ngSubmit)="addTransmition()">
    <div class="row">
      <ng-container *ngFor="let field of formFields; let i = index">
        <ng-container *ngIf="field !== 'type'">
          <div class="col-sm-6 col-lg-6" [ngClass]="{ 'mt-2': i > 1 }">
            <input
              type="text"
              class="transmition__input"
              [formControlName]="field"
              [placeholder]="getPlaceholder(field)"
            />
          </div>
        </ng-container>

        <ng-container *ngIf="field === 'type'">
          <div class="col-sm-6 col-lg-6" [ngClass]="{ 'mt-2': i > 1 }">
            <select [formControlName]="field" class="transmition__select">
              <option *ngFor="let item of selectTypes" [value]="item.id">{{
                item.label
              }}</option>
            </select>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row justify-content-center mt-3 text-center">
      <div class="col-sm-4 col-lg-4">
        <button class="transmition__btn" type="submit">Salvar</button>
      </div>
    </div>
  </form>
</div>
